.quran {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'QPC V4 Tajweed';
    direction: rtl;
    font-size: 1.6rem;
    line-height: 2;
    margin: 0.75rem 0;
    text-align: center;
}
