@import '@fontsource/readex-pro/400.css';
@import '@fontsource/readex-pro/600.css';
@import '@fontsource/space-grotesk/400.css';
@import '@fontsource/space-grotesk/700.css';
@import '@fontsource/sora/400.css';
@import '@fontsource/sora/600.css';
@font-face {
  font-family: 'QPC V4 Tajweed';
  src: url('./assets/fonts/QPC-V4-Tajweed.ttf') format('truetype');
}
@font-face {
  font-family: 'QPCHafs';
  src: url('./assets/fonts/QPC\ Hafs\ \(Official\ Uthmani\ script\ font\)\ -\ TTF.ttf') format('truetype');
}

/* LIGHT */
:root {
  --bg: #FBF7F0;
  --text-large: #7A1E1E;
  --text-small: #3D3D00;
  --muted: #616156;

  --panel: #ffead0;
  --panel-2: #faf5ee;

  --border: #7A6A3A;

  --primary: #7A2D2D;
  --primary-2: #9B4D4D;

  --shadow: rgba(0, 0, 0, 0.18);
  --ring: rgba(145, 79, 79, 0.35);

  --danger: #C23333;
  --success: #198754;
}

/* DARK */
html[data-theme="dark"] {
  --bg: #18130F;
  --text-large: #f5e982;
  --text-small: #e9e4b8;
  --muted: #A39F8A;

  --panel: #2E2117;
  --panel-2: #18110c;

  --border: #5C4A30;

  --primary: #ffead0;
  --primary-2: #faf5ee;

  --shadow: #0000008c;
  --ring: rgba(240, 163, 163, 0.28);

  --danger: #FF5A5A;
  --success: #5CD08A;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Sora', 'Readex Pro', 'Google Sans Flex', 'Space Grotesk', sans-serif;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text-small);
}